@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-bg-box {
    background: linear-gradient(-45deg, #1e3a8a, #4b5563, #6d28d9, #111827);
    background-size: 300% 300%;
    animation: bgColorShift 10s ease infinite;
  }
  
  @keyframes bgColorShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  